#header img{
	width: 50px;
}

#header h1{
	color: white;
}

#banner .carousel-inner img{
	max-height: 55vh;
	object-fit: fill;
	filter:	grayscale(70%);
}

#carousel{
	position: relative;
}

#carousel .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
	height: 100%;
}

#productos p{
	text-align: center;
}

#footer{
	background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372); 
	color: white;
}

.img-insta{
	width: 38px;
}
.img-twit{
	width: 38px;
}
.img-face{
	width: 38px;
}

#categorias a{
	color: #212529;
}

#imgModalProducto{
	width: 100%;
}

#plus-icon{
	font-size: 55px;
	color: #28a745;
}
#delete-icon{
	font-size: 25px;
	color: #28a745;
	padding-left: 5px;
	border: none;
	background-color: white;
}

#edit-icon{
	font-size: 25px;
	color: #2f25b9e1;
}
#fondo-form{
	background-color: #f2f2f2;
}

#aside-menu a.nav-link.active{
	background-color: #28a745;
	color: white;
}

#aside-menu a.nav-link{
	color: #28a745;
}

#register-button{
	padding-left:6px;
}

#a-regresar{
	color: #307b41;
	padding-left: 5px;
}

#dropdown-logout{
	background-color: #1c3643;
	color:white;
}

#dropdown-logout:hover{
	background-color: #3b708a;
	color:white;
}

#contenedor-desplegable{
	padding:0px;
}

#dropdown-empresa:hover{
	background-color: #28a745;
	color: white;
}

#navbarDropdown{
	color:white;
}
